@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000000;
  letter-spacing: normal;
}

button {
  border: none;
  max-width: 450px;
}

a {
  color: inherit;
  text-decoration: none;
}
